@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "_ErrorLayout.cshtml";
}

<table align="center">
    <tr><td><br /></td></tr>
    <tr><td><br /></td></tr>
    <tr><td><h2 class="error">An error occurred while processing your request.</h2></td></tr>
    <tr><td><h2 class="error">Occurred error has been logged and notified to admin.</h2></td></tr>
    <tr><td><br /></td></tr>
    <tr><td><br /></td></tr>
</table>

